<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!--这一段DOCTYPE不能遗漏-->
<mapper namespace="com.hqjin.tmall.mapper.CategoryMapper">
    <select id="list" resultType="Category">
        select * from category order by id desc
    </select>
    <!--Category中新增条目会使id值自动增长，此时需要更新Category对象上的该属性：-->
    <!--犯错：漏了keyProperty使id值无法更新而成了0-->
    <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="Category">
        insert into category(name) values (#{name})
    </insert>
    <delete id="delete">
        delete from category where id=#{id}
    </delete>
    <select id="get" resultType="Category">
        select * from category WHERE id=#{id}
    </select>
    <update id="update" parameterType="Category">
        UPDATE category set name=#{name} where id=#{id}
    </update>
</mapper>